<!DOCTYPE html>
<html>
<head>
	<title>Wishlist</title>
</head>
<body>

<form method="POST">
	
	<input type='text' name='name' placeholder='name' required/>
	<input type='text' name='item' placeholder='item to delete' required/>
            <button type='submit'>Remove item</button>
</form>
</body>
</html>